@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Raleway&display=swap');

html{
  background-image: url('./images/moraine.jpg');
  /* background-image: url('./images/field.jpeg'); */
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  /* overflow: hidden; */
  
}

body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  /* background-color:rgba(0, 0, 0, 0.5); */
  height: 100%;
}
