.main-body{
    margin: 2% 20%;
    text-align: left;
    font-weight: 600;
}

a{
    text-decoration: none;
}

a:link{
    color:rgb(62, 79, 94);
}

a:visited{
    color:rgb(61, 84, 104);
}

a:hover{
    color: aliceblue;
}

a:active{
    color:rgb(176, 183, 189);
}
