.main-body{
    margin: 0;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    color: rgb(240, 243, 245);
}

.nested-body{
    margin-left: 20%;
    margin-right: 20%;
}

a{
    text-decoration: none;
}

a:link{
    color:rgb(179, 197, 212);
}

a:visited{
    color:rgb(136, 166, 192);
}

a:hover{
    color: aliceblue;
}

a:active{
    color:rgb(176, 183, 189);
}
