@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

.title-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  color: rgb(240, 243, 245);
}

.nav-button{
  padding: 0;
  margin: 0;
}

nav {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 3px;
  color: rgb(240, 243, 245);
  color:rgba(0, 0, 0, 0.521)
}

h1 {
  font-size: 120px;
  margin: 1% 0 0 0;
  font-family: "EB Garamond", serif;
  font-weight: 200;
  letter-spacing: 8px;
  color:rgba(0, 0, 0, 0.521)
}

.subtitle-one {
  font-size: 48px;
  letter-spacing: 3px;
  font-style: italic;
  font-family: 'Tangerine', cursive;
  color: rgb(48, 43, 43);
}

.subtitle-two {
  font-size: 18px;
  color: rgb(240, 243, 245);
}

hr{
  width: 33%;
  height: 1px;
  background-color: rgb(58, 89, 116);
}